 <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

 <div class="container-lg px-1 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">DEPARTMENTS</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-5 py-5">
      <div class="col d-flex align-items-start">
        <div>
          {{#if departments.length}}
          <section>
              {{#each departments as |department|}}
              <li>
                <button id={{id}} class="btn-primary" href='/api/department/{{id}}'>{{name}}</button>
                <script>
                    $("#{{id}}").click(function(event) {
                        $("#department_name").val("{{name}}");
                        $("#department_id").val("{{id}}");
                    });
                </script>
              </li>
              {{/each}}
          </section>
          {{/if}} 
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>

          <label for="fname">department_name: </label>
          <input type="text" id="department_name" name="department_name"><br><br>
          <input type="hidden" id="department_id" name="department_id"><br><br>

 
        </div>
      </div>
      <div class="col d-flex align-items-start">

        <button class="btn-primary update-department" type='update'>Update</button>
        <button class="btn-primary create-department" type='create'>Create</button>
        <button class="btn-primary delete-department" type='delete'>Delete</button>
      </div>
    </div>
  </div>

<script src="/javascript/add-department.js"></script>
<script src="/javascript/update-department.js"></script>
<script src="/javascript/delete-department.js"></script>




 




