 <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


 <div class="container-lg px-1 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">PROJECTS</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-5 py-5">
      <div class="col d-flex align-items-start">
        <div>
          {{#if projects.length}}
          <section>
              {{#each projects as |project|}}
              <li>
              <button id={{id}} class="btn-primary" href="/project/"+{{id}}>{{title}}</button>
                <script>
                    $("#{{id}}").click(function(event) {
                        $("#title").val("{{title}}");
                        $("#shipping_address").val("{{shipping_address}}");
                        $("#shipping_city").val("{{shipping_city}}");
                        $("#shipping_state").val("{{shipping_state}}");
                        $("#shipping_zip").val("{{shipping_zip}}");
                        $("#project_id").val("{{id}}");
                        $("#customer_id").val("{{customer_id}}");
                        $("#process_id").val("{{process_id}}");

                    });
                </script>
              </li>
              {{/each}}
          </section>
          {{/if}} 
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
        {{!-- <form action="/action_page.php"> --}}
          <label for="title">title: </label>
          <input type="text" id="title" name="title"><br><br>
          <label for="shipping_address">shipping_address: </label>
          <input type="text" id="shipping_address" name="shipping_address"><br><br>
          <label for="shipping_city">shipping_city: </label>
          <input type="text" id="shipping_city" name="shipping_city"><br><br>
          <label for="shipping_state">shipping_state: </label>
          <input type="text" id="shipping_state" name="shipping_state"><br><br>
          <label for="shipping_zip">shipping_zip: </label>
          <input type="text" id="shipping_zip" name="shipping_zip"><br><br>

          <label for="customer_id">customer_id: </label>
          <input type="text" id="customer_id" name="customer_id"><br><br>

          <label for="process_id">process_id: </label>
          <input type="text" id="process_id" name="process_id"><br><br>
          <input type="hidden" id="project_id" name="project_id"><br><br>

          {{!-- <input type="submit" value="Submit"> --}}
        {{!-- </form> --}}
        {{!-- <button class="btn-primary" onclick="alert('Hello world!')">Click Me!</button> --}}
        </div>
      </div>
      <div class="col d-flex align-items-start">

        <button class="btn-primary update-project">Update</button>
        <button class="btn-primary create-project">Create</button>
        <button class="btn-primary delete-project">Delete</button>

      </div>
    </div>
  </div>

<script src="/javascript/add-project.js"></script>
<script src="/javascript/update-project.js"></script>
<script src="/javascript/delete-project.js"></script>



 




