{{!-- <template id="card-template"> --}}
 {{!-- {{#items}} --}}
  <div class="card">
    {{!-- <img class="card-img-top" src="https://via.placeholder.com/200x100" alt="Card image cap"> --}}
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      {{!-- <p class="card-text">{{shipping_address}}</p> --}}
      <p class="card-text">{{shipping_city}}</p>
      <p class="card-text">{{shipping_state}}</p>
      {{!-- <p class="card-text">{{shipping_zip}}</p> --}}
      <p class="card-text">{{customer.customer_name}}</p>
      {{!-- <p class="card-text">{{process_id}}</p> --}}
    </div>
    <div class="card-footer text-muted">
      <a class="advProject-btn btn btn-outline-secondary float-right">Advance Project ></a>
      {{!-- <a href="/dashboard/edit/{{project.id}}" class="edit-link">Edit project</a> --}}
      <a href="#" class="btn btn-outline-secondary float-left" data-toggle="modal" data-target="#myModal{{@index}}">read more</a>
    </div>
  </div>
  
  <!-- Modal -->
<div class="modal fade" id="myModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <img class="card-img-top" src="{{image}}" alt="Card image cap">
            {{{description}}}
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn  btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  {{!-- {{/items}} --}}
{{!-- </template> --}}

<div id="content"  class="card-grid"></div>
{{!-- <script src="/public/javascript/projectCard.js"></script> --}}
<script src="/javascript/advProject.js"></script>